{% extends "AcmeGnsBundle:Main:base.html.twig" %}

{% block title %}Add movie{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center"><h1>Add movie</h1></div>
        <div class="col-md-4"></div>
    </div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="form-group">
                {{ form_row(form.name, { 'attr': {'class': 'form-control', 'required':'true'} }) }}
            </div>
            <div class="form-group">
                {{ form_row(form.year, { 'attr': {'class': 'form-control', 'required':'true'} }) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.save, { 'attr': {'class': 'btn btn-success'} }) }}
            </div>
            {{ form_end(form) }}
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}