{% extends "AcmeGnsBundle:Main:base.html.twig" %}

{% block title %}Home{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center"><h1>Movies library</h1></div>
        <div class="col-md-4"></div>
    </div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% if movies|length %}
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Year</th>
                </tr>
                {% for movie in movies %}
                    <tr>
                        <td>{{ movie.name|e }}</td>
                        <td>{{ movie.year}}</td>
                    </tr>
                {% endfor %}
            </table>
            {% else %}
                <h3>There is no movies, but you can add them</h3>

            {% endif %}
            <a href="{{ path('add_movie') }}" class="btn btn-success">Add new movie</a>
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}